
.App {
    display: flex;
    flex-direction: column;
}

.appWrapper {
    width: 80vw;
    margin: 0 auto;
}

.header {
    background: #FFFFFF;
    height: 84px;
    outline: 2px solid greenyellow;
}

.headerContainer {
    display: flex;
}

.filter {
    height: 360px;
    width: 315px;
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    border-radius: 12px;

}

.searchField {
    width: 773px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    border-radius: 8px;
}

.item {
    margin-top: 16px;
    width: 773px;
    height: 137px;
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #EAEBED;
    border-radius: 12px;
}

.itemHeader {
    display: flex;
    justify-content: space-between;
}

.itemFooter {
    display: flex;
}

.itemMain {
    display: flex;
}

.itemTitle {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #5E96FC;
}

.itemFavoriteFilled {
    width: 20px;
    height: 20px;
    background-color: #5E96FC;
}
.itemFavorite{
    width: 20px;
    height: 20px;
    border: 1px solid #5E96FC;
}
.itemSalary {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #232134;
}

.itemDelimeter {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 21px;
    color: #7B7C88;
}

.itemWorkType {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #232134;
}

.itemLocationPoint {
    width: 15px;
    height: 15px;
    background-color: #282c34;
}
.itemLocationTown {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #232134;
}
.jobSearchContainer {
    display: flex;
}

.jobSearch {
    display: flex;
    flex-direction: column;
}

.main {
    background: #F5F5F5;
}
.favorite {
    display: flex;
    flex-direction: column;
}
.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
